<header id="header">
  <nav class="navbar navbar-default navbar-static-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
        <div class="navbar-brand">
  <a href="index.html"><h1>LUBRICANTES Y ESPECIALIDADES</h1></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">

  <li role="presentation"><a [routerLink]="['home']">HOME</a></li>
  <li role="presentation"><a [routerLink]="['servicios']">SERVICIOS Y BENEFICIOS</a></li>
  <li role="presentation"><a [routerLink]="['productos']">PRODUCTOS</a></li>
  <li role="presentation"><a [routerLink]="['contacto']">CONTACTO Y UBICACION</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
