
<section id="service" class="section-padding wow fadeInUp delay-05s">

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="service-title pad-bt15"><strong>SERVICIOS Y BENEFICIOS</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h3><br>
        <hr class="bottom-line">
        <h4>Algunas compañías venden lubricantes, <strong>TRIBOQUIMIA</strong> vende tiempo efectivo de producción.</h4>
        <hr class="bottom-line">
      </div>
      <div class="col-sm-4 col-sm-4 col-xs-4">
        <div class="service-item">
          <p align="justify">Usted puede aprender de los especialistas en tribología y técnicos de aplicación, la utilización correcta de los lubricantes. Esta inversión merece la pena y le ofrece a usted mas seguridad en la compra, en el mantenimiento, en la planificación y en las nuevas instalaciones. Nuestro empeño es hacerle participe de nuestros conocimientos y de nuestra experiencia.
          Sabemos que el objetivo de nuestros clientes es rentabilizar al máximo sus inversiones, tanto en el capitulo de bienes de equipo, como en sus esfuerzos organizativos por cumplir con los servicios que a su vez, han de dar a sus clientes.
          <img style="50%"src="assets/img/personal.jpg"><br>
          </p>
          <div class="col-sm-3 col-sm-6 col-xs-4">

          </div>
        </div>
        </div>

        <div class="col-sm-4 col-sm-6 col-xs-4">
        <div class="service-item">
          <p align="justify">Un fallo en los sistemas de lubricación de cualquier maquinaria representa una perdida de beneficio en cascada realmente elevado si contabilizamos todas sus consecuencias. La reparación de la avería, las horas no productivas, la materia prima estropeada, las devoluciones de la producción defectuosa, los pedidos dejados de surtir y el grado de desconfianza generado en los clientes afectados, son todos costos imputables al fallo que ocasiono la avería.
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Somos consientes de  que nuestros productos son una parte fundamental de la competitividad de nuestros clientes por  ello nuestros lubricantes ahorran mas de lo que cuestan, tanto del punto de vista económico como ecológico. La gran capacidad de rendimiento de nuestros lubricantes especiales proporcionan una mayor duración de vida. Las ventajas son, periodos mas prolongados de funcionamiento y menos mantenimiento, aun bajo las mas duras condiciones de trabajo.
        </p>
        </div>
      </div>

      <div class="col-sm-4 col-sm-4 col-xs-12">
        <div class="service-item">
          <p align="justify">Los beneficios que usted obtiene cuando adquiere nuestros lubricantes son:<br>
            1.- Prolongación significativa de los intervalos de lubricación.<br>
            2.- Ahorros de energía en valores de 5 a 10%.<br>
            3.- Disminución de un 50% del coeficiente de fricción.<br>
            4.- Reducción de exigencias térmicas abatiendo la temperatura de servicio.<br>
            5.- El "FORTIFICADOR FZ", es completamente soluble en básicos minerales y sintéticos no contiene elementos sólidos, esto significa que no son eliminados por filtración, centrifugación o precipitación.<br>
            6.- Productos dentro de las especificaciones convenidas o determinadas.<br>
            7.- Entrega en el tiempo convenido.<br>
            8.- Certificado de calidad.<br>
            9.- Apoyo técnico, servicio de laboratorio y recomendaciones sobre aplicaciones especificas.<br>
            10.- Desarrollos de lubricantes aplicados a procesos específicos y a la medida.<br>
            11.- Disponibilidad casi inmediata, sin tramites engorrosos de importación.<br>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
