<div class="gallery">
  <div class="text-center">
    <h2 align="left">PRODUCTOS</h2>
    <p align="justify"><strong>TRIBOQUIMIA S.A. DE C.V.</strong> Tiene una amplia gama de lubricantes para cada tipo de industria, contamos con el lubricante ideal para su maquinaria.<br>
    <br>
    Para conocer mas acerca de nuestros productos respecto a sus usos y especificaciones, puede accesar a cualquiera de los vínculos siguientes<br>
    donde usted encontrara, lubricantes aplicados en los siguientes tipos de industrias:<br>
    Industria textil, Industria del acero, Industria alimenticia, Industria del vidrio, Industria metalmecánica, Industria de cemento y minas,<br> Industria del azúcar y Lubricantes ecológicos.
</p>
<div class="col">
<div class="container">
  <div class="col-xs-2">
    <figure class="effect-marley">

        <img style="width:100%;" src="assets/img/imgmetal.jpg" class="img-responsive"/>
      <figcaption><a href="./PastasMetalicas.html">
<h4 class="text-center">Pastas Metalicas</h4>
</a>
      </figcaption>
    </figure>
  </div>




  <div class="col-xs-2">
    <figure class="effect-marley">

      <img style="width:100%;"src="assets/img/fluidos-1.jpg" alt="" class="img-responsive" />
      <figcaption><a href="./Fluidos.html">
        <h4 class="text-center">Fluidos</h4>
        </a>
      </figcaption>
    </figure>
  </div>

   <div class="col-xs-2">
    <figure class="effect-marley">
      <img style="width:100%;" src="assets/img/ojana.jpg" alt="" class="img-responsive" />
      <figcaption><a href="./GrasasLubricantes.html">
        <h4 class="text-center">Grasas Lubricantes</h4>
        </a>
      </figcaption>
    </figure>
  </div>



  <div class="col-xs-2">
    <figure class="effect-marley">
      <img src="assets/img/dua.jpeg" alt="" class="img-responsive" />
      <figcaption><a href="./AceitedeCorte.html">
        <h4 class="text-center">Aceite de corte </h4>
        </a>
      </figcaption>
    </figure>
  </div>

  <div  class="col-xs-2">
    <figure class="effect-marley">
      <img src="assets/img/aerosol.jpg" alt="" class="img-responsive" />
      <figcaption><a href="./LubricantesenAerosol.html">
        <h4 class="text-center">Lubricantes en Aerosol</h4>
        </a>
      </figcaption>
    </figure>
  </div>

</div>


</div>
